@using Microsoft.AspNetCore.Mvc.Localization
@model AuthService.Infrastructure.Web.TwoFactor.ViewModels.SetupTwoFactorViewModel
@inject IViewLocalizer Localizer
@{
    // Устанавливаем значение в ViewData с ключом "Title" равным переводу строки "SetupTwoFactorTitle"
    ViewData["Title"] = Localizer["SetupTwoFactorTitle"];
}

<h5 class="card-title">@Localizer["SetupTwoFactorTitle"]</h5>
<span class="card-logo">
    <i class="zmdi zmdi-font"></i>
</span>

<div class="setup">
    <div class="setup-info">
        <div class="setup-info-item mt-3">
            @Localizer["DownloadMicrosoft"]
            <a class="m-btn" href="https://play.google.com/store/apps/details?id=com.azure.authenticator&hl=en_US">Android</a>
            @Localizer["And"]
            <a class="m-btn" href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458">iOS</a>
            @Localizer["DownloadGoogle"]
            <a class="m-btn" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US">Android</a>
            @Localizer["And"]
            <a class="m-btn" href="https://apps.apple.com/us/app/google-authenticator/id388497605">iOS</a>.
        </div>
    
        <div class="setup-info-item mt-3">
            @Localizer["ScanQrOrEnterKey"]
        </div>
        
        <div class="auth-key mt-3 text-center fw-bold">
            @Model.AuthenticatorKey
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
            </svg>
        </div>

        <div class="qrcode my-3" id="qrCode"></div>
        
        <div class="qrcode-invalid text-center">
            @Localizer["QrCodeInvalid"]
        </div>
        
        <div class="setup-info-item mt-3">
            @Localizer["UniqueCode"]
        </div>
    </div>
    

    <div class="setup-form mt-4">
        <form asp-action="VerifySetup" method="post">

            <input asp-for="ReturnUrl" type="hidden"/>
            <input asp-for="AuthenticatorKey" type="hidden"/>

            <div class="wrap-input">
                <input asp-for="Code" autofocus>
                <span class="focus-input" asp-placeholder-for="Code">
                </span>
            </div>
            <div class="wrap-error mb-4">
                <span asp-validation-for="Code"></span>
            </div>
            <div class="container-btn mb-4">
                <div class="wrap-btn on-load">
                    <div class="bg-btn"></div>
                    <input class="m-btn" type="submit" value="@Localizer["SetUp"]">
                </div>
            </div>
        </form>
        <div class="container-btn mb-4">
            <div class="wrap-btn on-hover">
                <div class="bg-btn"></div>
                <a class="m-btn" href="@Model.ReturnUrl">
                    @Localizer["Cancel"]
                </a>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
            asp-fallback-src="~/lib/qrcode/qrcode.min.js"
            asp-fallback-test="window.QRCode"
            integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
            crossorigin="anonymous">
    </script>

    <script>
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.QrCodeUrl)",
                width: 200,
                height: 200
            });
    </script>
}

