@model Identix.Infrastructure.Web.Account.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["LoginTitle"];
}

<h5 class="card-title">@Localizer["LoginTitle"]</h5>

@if (Model.EnableLocalLogin)
{
    <form asp-action="Login" method="post" class="account mt-5">

        <input asp-for="ReturnUrl" type="hidden"/>

        <div class="wrap-input">
            <input asp-for="Email" autofocus>
            <span class="focus-input"
                  asp-placeholder-for="Email">
            </span>
        </div>
        <div class="wrap-error mb-4">
            <span asp-validation-for="Email"></span>
        </div>

        <div class="wrap-input">
            <span class="btn-show-pass">
                <svg password="show" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill"
                     viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
                <svg password="hide" xmlns="http://www.w3.org/2000/svg" style="display: none" fill="currentColor"
                     class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path
                        d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                    <path
                        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                </svg>
            </span>
            <input asp-for="Password"/>
            <span class="focus-input"
                  asp-placeholder-for="Password">
            </span>
        </div>
        <div class="wrap-error mb-2">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="d-flex align-items-center mb-2 mb-md-5">
            <div class="form-check">
                <input asp-for="RememberLogin"
                       class="form-check-input">
                <label asp-for="RememberLogin"
                       class="form-check-label">
                </label>
            </div>
            <a asp-action="RecoverPassword" asp-route-returnUrl="@Model.ReturnUrl"
               class="card-link ms-auto">@Localizer["ForgotPassword"]</a>
        </div>
        @if (Model.ExternalProviders.Any())
        {
            <partial name="_Oauth" model="@(Model.ExternalProviders, Model.ReturnUrl)"/>
        }
        <div class="container-btn mb-4">
            <div class="wrap-btn on-load">
                <div class="bg-btn"></div>
                <input class="m-btn" type="submit" value="@Localizer["SignIn"]">
            </div>
        </div>
    </form>
    <div class="container-btn mb-4">
        <div class="wrap-btn on-hover">
            <div class="bg-btn"></div>
            <a class="m-btn" asp-action="Cancel" asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Cancel"]
            </a>
        </div>
    </div>
    <div class="text-center card-subtitle">
        <span>
            @Localizer["NoAccount"]
        </span>

        <a class="card-link" asp-controller="Registration" asp-action="Registration"
           asp-route-returnUrl="@Model.ReturnUrl">
            @Localizer["Registration"]
        </a>
    </div>
}
else if (Model.ExternalProviders.Any())
{
    <div class="account">
        <partial name="_Oauth" model="@(Model.ExternalProviders, Model.ReturnUrl)"/>
        <div class="container-btn mb-4">
            <div class="wrap-btn on-hover">
                <div class="bg-btn"></div>
                <a class="m-btn" asp-action="Cancel" asp-route-returnUrl="@Model.ReturnUrl">
                    @Localizer["Cancel"]
                </a>
            </div>
        </div>
        <div class="text-center card-subtitle">
        <span>
            @Localizer["NoAccount"]
        </span>

            <a class="card-link" asp-controller="Registration" asp-action="Registration"
               asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Registration"]
            </a>
        </div>
    </div>
}
else if (!Model.EnableLocalLogin)
{
    <div class="alert alert-warning">
        <strong>@Localizer["InvalidRequest"]</strong>
        <div>@Localizer["SchemesNotConfigured"]</div>
    </div>
    <div class="container-btn mb-4">
        <div class="wrap-btn on-hover">
            <div class="bg-btn"></div>
            <a class="m-btn" asp-action="Cancel" asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Cancel"]
            </a>
        </div>
    </div>
}