@model Identix.Infrastructure.Web.Account.InputModels.ResetPasswordInputModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ResetPasswordTitle"];
}

<h5 class="card-title">@Localizer["ResetPasswordTitle"]</h5>

<form asp-action="RecoverPassword" method="post" class="mt-5">
    <input asp-for="ReturnUrl" type="hidden"/>

    <div class="wrap-input">
        <input asp-for="Email" autofocus>
        <span class="focus-input" asp-placeholder-for="Email">
        </span>
    </div>
    <div class="wrap-error mb-4">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="container-btn mb-4">
        <div class="wrap-btn on-load">
            <div class="bg-btn"></div>
            <input class="m-btn" type="submit" value="@Localizer["ResetButton"]">
        </div>
    </div>
</form>
<div class="text-center card-subtitle">
    <span>
        @Localizer["RememberPassword"]
    </span>

    <a class="card-link" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        @Localizer["Login"]
    </a>
</div>