@model Identix.Infrastructure.Web.Registration.ViewModels.RegistrationViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["RegistrationTitle"];
}

<h5 class="card-title">@Localizer["RegistrationTitle"]</h5>

@if (Model.EnableLocalLogin)
{
    <form asp-action="Registration" id="register" method="post" class="account mt-5">

        <input asp-for="ReturnUrl" type="hidden"/>

        <div class="wrap-input">
            <input asp-for="Email" autofocus>
            <span class="focus-input"
                  asp-placeholder-for="Email">
            </span>
        </div>
        <div class="wrap-error mb-4">
            <span asp-validation-for="Email"></span>
        </div>

        <div class="wrap-input">
            <span class="btn-show-pass" id="show-pass">
                <svg password="show" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
                <svg password="hide" xmlns="http://www.w3.org/2000/svg" style="display: none" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                </svg>
            </span>
            <input asp-for="Password"/>
            <span class="focus-input" asp-placeholder-for="Password">
            </span>
        </div>

        <div class="strength-valid" id="strength-valid" hidden="hidden">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
            <span class="pass-valid-errors"></span>
            <div class="d-none" id="invalid-pass">@Localizer["PassWarning"]</div>
            <div class="d-none" id="week-pass">@Localizer["WeakPass"]</div>
            <div class="d-none" id="medium-pass">@Localizer["MediumPass"]</div>
            <div class="d-none" id="strong-pass">@Localizer["StrongPass"]</div>
        </div>

        <div class="wrap-error mb-4">
            <span asp-validation-for="Password" id="password-valid-errors"></span>
        </div>

        <div class="wrap-input">
            <span class="btn-show-pass" id="show-pass-confirm">
                <svg password="show" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
                <svg password="hide" xmlns="http://www.w3.org/2000/svg" style="display: none" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                </svg>
            </span>
            <input asp-for="PasswordConfirm"/>
            <span class="focus-input" asp-placeholder-for="PasswordConfirm">
            </span>
        </div>
        <div class="wrap-error mb-2">
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        <div class="form-check mb-2 mb-md-5">
            <input asp-for="RememberLogin" class="form-check-input">
            <label asp-for="RememberLogin" class="form-check-label">
            </label>
        </div>
        @if (Model.ExternalProviders.Any())
        {
            <partial name="_Oauth" model="@(Model.ExternalProviders, Model.ReturnUrl)"/>
        }
        <div class="container-btn mb-4">
            <div class="wrap-btn on-load">
                <div class="bg-btn"></div>
                <input class="m-btn" type="submit" value="@Localizer["RegistrationButton"]">
            </div>
        </div>
    </form>
    <div class="container-btn mb-4">
        <div class="wrap-btn on-hover">
            <div class="bg-btn"></div>
            <a class="m-btn" asp-controller="Account" asp-action="Cancel" asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Cancel"]
            </a>
        </div>
    </div>
    <div class="text-center card-subtitle">
        <span>
            @Localizer["HaveAccount"]
        </span>

        <a class="card-link" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            @Localizer["Login"]
        </a>
    </div>
}
else if (Model.ExternalProviders.Any())
{
    <div class="account">
        <partial name="_Oauth" model="@(Model.ExternalProviders, Model.ReturnUrl)"/>
        <div class="container-btn mb-4">
            <div class="wrap-btn on-hover">
                <div class="bg-btn"></div>
                <a class="m-btn" asp-controller="Account" asp-action="Cancel" asp-route-returnUrl="@Model.ReturnUrl">
                    @Localizer["Cancel"]
                </a>
            </div>
        </div>
        <div class="text-center card-subtitle">
            <span>
                @Localizer["HaveAccount"]
            </span>

            <a class="card-link" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Login"]
            </a>
        </div>
    </div>
}
else if (!Model.EnableLocalLogin)
{
    <div class="alert alert-warning">
        <strong>@Localizer["InvalidRequest"]</strong>
        <div>@Localizer["SchemesNotConfigured"]</div>
    </div>
    <div class="container-btn mb-4">
        <div class="wrap-btn on-hover">
            <div class="bg-btn"></div>
            <a class="m-btn" asp-controller="Account" asp-action="Cancel" asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Cancel"]
            </a>
        </div>
    </div>
}