@using Microsoft.AspNetCore.Mvc.Localization
@model Identix.Infrastructure.Web.Grants.ViewModels.GrantsViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["GrantsTitle"];
}

<h5 class="card-title">@Localizer["GrantsTitle"]</h5>

<div class="grants mt-5">
    @if (Model.Grants.Any() == false)
    {
        <div class="alert alert-info mb-4">
            @Localizer["GrantsEmpty"]
        </div>
    }
    else
    {
        foreach (var grant in Model.Grants)
        {
            <div class="card mb-4">
                <div class="card-header">
                    @if (grant.ClientLogoUrl != null)
                    {
                        <img src="@grant.ClientLogoUrl" alt="">
                    }
                    <div class="card-title">@grant.ClientName</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label>@Localizer["Created"]:</label> @grant.Created.ToString("d")
                    </li>
                    @if (grant.Description != null)
                    {
                        <li class="list-group-item">
                            <label>@Localizer["Description"]:</label> @grant.Description
                        </li>
                    }
                    @if (grant.IdentityGrantNames.Any())
                    {
                        <li class="list-group-item">
                            <label>@Localizer["IdentityGrants"]:</label>
                            <ul>
                                @foreach (var name in grant.IdentityGrantNames)
                                {
                                    <li>@name</li>
                                }
                            </ul>
                        </li>
                    }
                    @if (grant.ApiGrantNames.Any())
                    {
                        <li class="list-group-item">
                            <label>@Localizer["ApiGrants"]:</label>
                            <ul>
                                @foreach (var name in grant.ApiGrantNames)
                                {
                                    <li>@name</li>
                                }
                            </ul>
                        </li>
                    }
                    <li class="list-group-item">
                        <form asp-action="Revoke">
                            <input name="grantId" type="hidden" value="@grant.GrantId">
                            <button class="btn btn-danger m-auto">@Localizer["RemoveAccess"]</button>
                        </form>
                    </li>
                </ul>
            </div>
        }
    }
    <div class="container-btn mb-4">
        <div class="wrap-btn on-hover">
            <div class="bg-btn"></div>
            <a class="m-btn" asp-controller="Home" asp-action="Index">
                @Localizer["Return"]
            </a>
        </div>
    </div>
</div>