@using Microsoft.AspNetCore.Mvc.Localization
@model Identix.Infrastructure.Web.TwoFactor.ViewModels.RecoveryCodesViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["VerifyCodes"];
}
<h5 class="card-title">@Localizer["VerifyCodes"]</h5>

<div>
    <div class="mt-3">
        @Localizer["Info"]
    </div>
    @foreach (var recoveryCode in Model.RecoveryCodes)
    {
        <div class="text-center fw-bold mt-3 codes">
            @recoveryCode
        </div>
    }

    <div class="container-btn my-4">
        <div class="wrap-btn on-hover">
            <div class="bg-btn"></div>
            <button class="m-btn copy-codes">
                @Localizer["CopyCodes"]
            </button>
        </div>
    </div>
    <div class="container-btn my-4">
        <div class="wrap-btn on-load">
            <div class="bg-btn"></div>
            <a class="m-btn" asp-controller="Settings" asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Continue"]
            </a>
        </div>
    </div>
</div>